<div class="row g-0">
    <div class="col">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid text-center py-5">
                <h1 class="display-5 fw-bold">{{responses.title}}</h1>
                <div class="row justify-content-md-center">
                    <div class="col">
                        <div class="input-group mb-3 rounded-5">
                            <span class="input-group-text rounded-end rounded-5" id="basic-addon1">@</span>
                            <input type="text" class="form-control rounded-start rounded-5" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col col-lg-3 mx-auto d-grid pb-3">
                        <button type="button" class="btn btn-danger btn-sm rounded-5">Search</button>
                    </div>
                </div>
                <p>{{responses.description}}</p>
            </div>
        </div>
    </div>
</div>